<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Audible Sights - Convert Images to Sound</title>
    <link rel="stylesheet" href="/static/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <section id="header">
        <nav>
            <div class="logo">
                <a href="/">Audible Sights</a>
            </div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/demo">Demo</a>
                <a href="/upload">Upload an Image</a>
            </div>
        </nav>
    </section>
    {{{body}}}
</body>
<footer>
    <p>&copy; 2019 Alex Garrett</p>
</footer>
</html>