<img src="/static/images/source.png" alt="source image" style="display:none"
    id="source">
<canvas width="32" height="32" id="canvas"></canvas>

<button id="click-me">Click me</button>

<script type="module" src="/static/js/index.js"></script>
