<img src="/static/images/source.png" alt="source image" style="display:none"
    id="source">
<canvas width="128" height="64" id="canvas"></canvas>

<button id="play-button">Play</button>
<button id="stop-button">Stop</button>

<script type="module" src="/static/js/index.js"></script>
