<main id="content">
    <section id="active-image" style="text-align: center">
        <div class="container">
            <h1>Press play to hear the image</h1>
            {{#if fileName}}
            <img src="/static/images/upload/{{fileName}}" alt="source image" style="display:none" id="source">
            <canvas width="128" height="64" id="canvas"></canvas>
    
            <div class="audio-controls">
                <button id="play-button">Play</button>
                <button id="stop-button">Stop</button>
            </div>
    
            <script type="module" src="/static/js/playImage.js"></script>
            {{else}}
            <h1>Something went wrong. <a href="/upload">Try uploading again.</a></h1>
            {{/if}}
        </div>
    </section>
</main>